
.flex-all-center{
    display:flex;
    justify-content: center;
    align-items:center;
}
.btn{
    border: 1.5px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight:bolder;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.btn1{
    border: 1.5px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 5px 8px 5px 9px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    margin: 0px 0em 0 35em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.translate {
    transition: translate 1s;
  }
  
.btn1:hover.translate {
    translate: -50px;
  }

.my-1{
    margin: 3px 0px;
}

.my-2{
    margin: 26px 0px;
}


.text-center{
    text-align: center;
}